<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>iTunes Connect</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <style type="text/css">
    A { text-decoration: none; }

    A:link { color: #0088CC; text-decoration: none; }

    A:visited { text-decoration: none; }

    A:active { color: #696969; text-decoration: underline;}

    A:hover { text-decoration: underline; }

    BODY, TD, P, UL, OL {
    font-family: Helvetica, Lucida Grande, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    text-align: justify;
    }

    P {
    margin-bottom: 1em;
    }

    H1 {
    line-height:145%;
    }

    HR {
    border: 0;
    border-top: 1px solid #dddddd;
    margin: 10px 0px 15px 0px;
    }

    @media only screen and (max-device-width: 481px) and (min-device-pixel-ratio : 2), only screen and (min-device-width: 481px) and (-webkit-min-device-pixel-ratio : 2) {
    img { visibility:hidden; }
    *[id=header] { background:url('https://itc-mzstatic-origin.itunes.apple.com/itc/images/email/email-itc-logo@2X.png') no-repeat 0 top; -webkit-background-size: 173px 45px; }
    *[id=hr-fade] { background:url('https://itc-mzstatic-origin.itunes.apple.com/itc/images/email/email-hr@2X.png') no-repeat 0 top; -webkit-background-size: 648px 18px; }
    }

    @media only screen and (max-device-width: 480px) {

    table[class="table"], td[class="cell"] {
    width: 270px !important;
    }
    table[class="table3"], td[class="cell3"] {
    width: 270px !important;
    text-align: left !important;
    }
    img[id="header"] {
    width: 135px !important;
    height: 35px !important;
    }
    td[id="header"] {
    -webkit-background-size: 135px 35px;
    }
    table[class="footer_table"] {
    display: none !important;
    }

    .hide { max-height: none !important; font-size: 11px !important; display: block !important; }

    p {
    text-align: left !important;
    }

    }
  </style>
</head>
<body>
<table class="table" border="0" cellspacing="0" cellpadding="0" align="center" width="700">
  <tr align="center">
    <td class="spacer" align="left" valign="top" bgcolor="#ffffff" width="20">
      <img src="https://itc-mzstatic-origin.itunes.apple.com/itc/images/email/spacer.gif" border="0" alt="" width="20" height="1">
    </td>
    <td align="left">
      <table class="table3" width="648" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" >
        <tr>
          <td class="cell3" id="header" width="648" align="left" style="padding-bottom: 10px;">
            <img id="header" src="https://itc-mzstatic-origin.itunes.apple.com/itc/images/email/email-itc-logo.png" border="0" alt="iTunes Connect" width="173" height="45">
          </td>
        </tr>
        <tr>
          <td class="cell3" style="font-size: 0px; line-height: 1px; background:none; border-top:solid 1px #dddddd; height:1px; width:648px; margin:0px 0px 0px 0px; padding-bottom: 15px">\u00a0</td>
        </tr>
        <tr>
          <td class="cell3" align="left" valign="top" bgcolor="#ffffff" width="648" style="font-family: Helvetica, Lucida Grande, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #666666; text-align: justify;">
                        

                                
    Dear User,
    <p>The following app has been approved and the app status has changed to Ready for Sale:</p>
    <table id="details" cellpadding="0" cellspacing="0" border="0">
    <tr><td>App Name: <%= @app_name %> <a target="_blank" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=<%= @app_apple_id %>&mt=8"><img border="0" src="https://itc.mzstatic.com/itc/images/arrow.png" /></a></td></tr>
    <tr><td>App Version Number: <%= @app_version_number %></td></tr>
    <tr><td>App Type: iOS App</td></tr>
    <tr><td>App SKU: <%= @app_sku %></td></tr>
    <tr><td>App Apple ID:<%= @app_apple_id %></td></tr>
    </table>
    
    <p>If your contracts are not in effect at this time, your app status will be Pending Contract. You may track the progress of your contracts in the <a target="_blank" href="http://www.apple.com/itunes/go/itunesconnect/contracts">Contracts, Tax, and Banking</a> module in iTunes Connect.</p>
    <p>To make changes to this app, sign in to iTunes Connect and open the <a target="_blank" href="http://www.apple.com/itunes/go/itunesconnect/manageApps">Manage Your Applications</a> module.</p>
    <p>It can take up to 24 hours before your app is available on the App Store. This delay is dependent on any app availability issues.</p>
    <p>Before you market your app, read the <a href="https://developer.apple.com/appstore/AppStoreMarketingGuidelines.pdf">App Store Marketing and Advertising Guidelines</a> for Developers. The guidelines include information on using the App Store badge, best practices to market apps on the App Store, and details on the use of Apple product images.</p>
    <p>If you have any questions regarding your app, use the <a target="_blank" href="http://www.apple.com/itunes/go/itunesconnect/contactus">Contact Us</a> module on iTunes Connect.</p>
    <p>Regards,<br/>
    The App Store team</p>


                        
          </td>
        </tr>
      </table>
    </td>
    <td class="spacer" align="right" valign="top" bgcolor="#ffffff" width="20">
      <img src="https://itc-mzstatic-origin.itunes.apple.com/itc/images/email/spacer.gif" border="0" alt="" width="20" height="1">
    </td>
  </tr>
</table>
<table class="footer_table" width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:25px; margin-bottom:15px;">
  <tr>
    <td class="cell" align="left">\u00a0</td>
  </tr>
  <tr>
    <td class="cell" style="font-size:10px; line-height: 12px; color:#9f9f9f; font-family: Helvetica, Lucida Grande, Arial, sans-serif; text-align: center; -webkit-text-size-adjust:none;">
      <a href="http://www.apple.com/itunes/go/itunesconnect/contactus">Contact Us</a>  |  <a href="http://itunesconnect.apple.com">iTunes Connect</a>  |  1 Infinite Loop, Cupertino, CA 95014
    </td>
  </tr>
  <tr>
    <td class="cell" id="hr-fade" style="text-align: center;">
      <img id="footer" src="https://itc-mzstatic-origin.itunes.apple.com/itc/images/email/email-hr.png" width="648" height="18"/>
    </td>
  </tr>
  <tr>
    <td class="cell" style="font-size:10px; line-height: 12px; color:#9f9f9f; font-family: Helvetica, Lucida Grande, Arial, sans-serif; text-align: center; -webkit-text-size-adjust:none;">
      <a href="http://www.apple.com/legal/privacy/">Privacy Policy</a>  |  <a href="http://www.apple.com/support/itunes/legal/terms.html">Terms of Service</a>  |  <a href="http://www.apple.com/support/itunes/legal/policies.html">Terms of Sale</a>
    </td>
  </tr>
</table>
<table class="hide" width="270" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:45px; margin-bottom:15px; max-height: 0px; font-size: 0; display: none;">
  <tr>
    <td class="hide" style="max-height: 0px; font-size: 0; display: none; height: 1px; background:none; border-top:solid 1px #dddddd; width:648px; margin:0px 0px 0px 0px;">\u00a0</td>
  </tr>
  <tr>
    <td class="hide" style="line-height: 120%; color:#9f9f9f; font-family: Helvetica, Lucida Grande, Arial, sans-serif; text-align: center; max-height: 0px; font-size: 0; display: none; -webkit-text-size-adjust:none;"><br/>
      <a href="http://www.apple.com/itunes/go/itunesconnect/contactus">Contact Us</a>  |  <a href="http://itunesconnect.apple.com">iTunes Connect</a><br/>1 Infinite Loop, Cupertino, CA 95014
    </td>
  </tr>
  <tr>
    <td class="hide" align="left" style="max-height: 0px; font-size: 0; display: none; line-height: 120%;">\u00a0</td>
  </tr>
  <tr>
    <td class="hide" style="line-height: 120%; color:#9f9f9f; font-family: Helvetica, Lucida Grande, Arial, sans-serif; text-align: center; max-height: 0px; font-size: 0; display: none; -webkit-text-size-adjust:none;">
      <a href="http://www.apple.com/legal/privacy/">Privacy Policy</a>  |  <a href="http://www.apple.com/support/itunes/legal/terms.html">Terms of Service</a>  |  <a href="http://www.apple.com/support/itunes/legal/policies.html">Terms of Sale</a>
    </td>
  </tr>
</table>
</body>
</html>